<section class="vh-100 gradient-custom">
  <div class="container modal-container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-90">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-purple text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

              <h3 class="title">Register</h3>

  <div [formGroup]="form">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="firstname"
          placeholder="First Name"
        />
      </mat-form-field>
      <br />

      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastname"
          placeholder="Last Name"
        />
      </mat-form-field>
      <br />

        
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="username"
          placeholder="Username"
        />
      </mat-form-field>
      <br />

        
        <mat-form-field>
          <input
            type="text"
            matInput
            formControlName="age"
            placeholder="Age"
          />
        </mat-form-field>
        <br />

            
          <mat-form-field>
            <input
              type="text"
              matInput
              formControlName="email"
              placeholder="Email"
            />
          </mat-form-field>
          <br />

          <mat-form-field>
            <input
              type="text"
              matInput
              formControlName="password"
              placeholder="Password"
            />
          </mat-form-field>
          <br />

      <mat-form-field>
        <mat-select
          placeholder="Hobbies"
          multiple
          formControlName="hobbies"
        >
          <mat-option
            class="option"
            *ngFor="let hobby of allHobbies"
            value="{{ hobby.id }}"
            >{{ hobby.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select
          placeholder="Preferences"
          multiple
          formControlName="preferences"
        >
          <mat-option
            class="option"
            *ngFor="let preference of allPreferences"
            value="{{ preference.id }}"
            >{{ preference.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button class="submit-button" mat-stroked-button (click)="onSubmit()">  Submit </button>
            </div>
        
        </div>
      </div>
    </div>
  </div>
</div>
</section>