


	<div id="wrapper">
		<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
			<div class="container-fluid d-flex flex-column p-0">
				<div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
						id="sidebarToggle" type="button"></button></div>
			</div>
		</nav>
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				<div class="container-fluid">
					<div class="d-sm-flex justify-content-between align-items-center mb-4">
						<!-- <a
							class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i
								class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a> -->
					</div>
					<div class="row">
						<div class="col-md-6 col-xl-3 mb-4">
							<a [routerLink]="['/users']">
								<div class="card shadow border-start-primary py-2">
									<div class="card-body">
										<div class="row align-items-center no-gutters">
											<div class="col me-2">
												<div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>
													Users
												</span></div>
												<div class="text-dark fw-bold h5 mb-0"><span>{{statistics.nrUsers}}</span></div>
											</div>
											<div class="col-auto"><mat-icon>supervisor_account</mat-icon></div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-md-6 col-xl-3 mb-4">

								<div class="card shadow border-start-success py-2">
									<div class="card-body">
										<div class="row align-items-center no-gutters">
											<div class="col me-2">
												<div class="text-uppercase text-success fw-bold text-xs mb-1"><span>
													Matches
												</span></div>
												<div class="text-dark fw-bold h5 mb-0"><span>{{statistics.nrMatches}}</span></div>
											</div>
											<div class="col-auto"><i class="fa fa-users" aria-hidden="true"></i>
											</div>
										</div>
									</div>
								</div>
						</div>
                        <div class="col-md-6 col-xl-3 mb-4">
								<div class="card shadow border-start-success py-2">
									<div class="card-body">
										<div class="row align-items-center no-gutters">
											<div class="col me-2">
												<div class="text-uppercase text-success fw-bold text-xs mb-1"><span>
													Exchanged Messages
												</span></div>
												<div class="text-dark fw-bold h5 mb-0"><span>{{statistics.nrExchangedMessages}}</span></div>
											</div>
											<div class="col-auto"><i class="fa fa-users" aria-hidden="true"></i>
											</div>
										</div>
									</div>
								</div>
						</div>
						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow border-start-info py-2">
								<div class="card-body">
									<div class="row align-items-center no-gutters">
										<div class="col me-2">
											<div class="text-uppercase text-info fw-bold text-xs mb-1">
												<span>Banned Users</span></div>
											<div class="row g-0 align-items-center">
												<div class="col-auto">
													<div class="text-dark fw-bold h5 mb-0 me-3"><span>{{statistics.nrBannedUsers}}</span></div>
												</div>
												<div class="col">
													<div class="progress progress-sm">
														<div class="progress-bar bg-info" aria-valuenow="50"
															aria-valuemin="0" aria-valuemax="100" style="width: {{statistics.nrBannedUsers * 100/statistics.nrUsers}}%;">
															<span class="visually-hidden">{{statistics.nrBannedUsers * 100/statistics.nrUsers}}%</span></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto"><mat-icon> list_alt</mat-icon>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="card shadow width0">
								<div class="card-header py-3">
									<p class="text-primary m-0 fw-bold">Hobby Statistics</p>
								</div>
								<div class="card-body">
									<div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                    <div *ngFor="let hobbyStatistic of statistics.hobbyStatistics ">
                      <div class="card-body">{{hobbyStatistic.hobby.name}}  {{hobbyStatistic.timesChosen}} </div>
                    </div>

									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card shadow width0">
								<div class="card-header py-3">
									<p class="text-primary m-0 fw-bold">Preference Statistics</p>
								</div>
								<div class="card-body">
									<div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                    <div *ngFor="let preferenceStatistic of statistics.preferenceStatistics ">
                      <div class="card-body">{{preferenceStatistic.preference.name}}  {{preferenceStatistic.timesChosen}} </div>
                    </div>
									</div>
								</div>
							</div>
						</div>

					</div>

                    <br>
				</div>
			</div>
	</div>
