<mat-sidenav-container fullscreen>
  <mat-toolbar *ngIf="userLoggedIn">
  
    <a mat-button class="mat-button" > Quapp </a>
    <a mat-button *ngIf="userLoggedIn && userLoggedIn?.role?.name === 'ROLE_USER'" routerLink="/homepage" class="mat-button"
      ><mat-icon>home</mat-icon>
    </a>

    <a
      mat-button
      *ngIf="userLoggedIn && userLoggedIn?.role?.name === 'ROLE_USER'"
      routerLink="/friends-list"
      class="mat-button"
      ><mat-icon>person_outline</mat-icon>Friends
    </a>

    <a
      mat-button
      *ngIf="userLoggedIn && userLoggedIn?.role?.name === 'ROLE_USER'"
      routerLink="/match-requests"
      class="mat-button"
      ><mat-icon>person_outline</mat-icon>Match Requests
    </a>

    <a
      mat-button
      *ngIf="userLoggedIn && userLoggedIn?.role?.name === 'ROLE_USER'"
      routerLink="/blocked-users"
      class="mat-button"
      ><mat-icon>person_outline</mat-icon>Blocked Users
    </a>

    <a
      mat-button
      routerLink="/users"
      *ngIf="userLoggedIn && userLoggedIn?.role?.name === 'ROLE_ADMIN'"
      class="mat-button"
    >
      <mat-icon>supervisor_account</mat-icon>Users
    </a>
    <a
      mat-button
      routerLink="/teams"
      *ngIf="userLoggedIn && userLoggedIn?.role?.name === 'ROLE_ADMIN'"
      class="mat-button"
    >
      <i class="fa fa-users" aria-hidden="true"></i>
      Teams
    </a>

    <span class="example-spacer"></span>
    <a
      mat-button
      routerLink="/notifications"
      *ngIf="userLoggedIn"
      class="mat-button"
    >
      <mat-icon
        matBadge=""
        matBadgeColor="warn"
        [matBadgeHidden]=""
        >notifications</mat-icon
      >
    </a>
    <a
      mat-button
      class="mat-button"
      *ngIf="userLoggedIn"
      (click)="logout()"
      routerLink="/"
      ><mat-icon>exit_to_app</mat-icon>Logout
    </a>
    <a *ngIf="userLoggedIn" routerLink="/"
      > <img src="{{userLoggedIn.photo}}" class="rounded-circle menu-img" />
    </a> {{userLoggedIn.firstName}}
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
